**/target/
**/*.rs.bk

.gradle/
**/build/
captures/
externalNativeBuild/
.cxx/
local.properties
*.keystore
*.jks
*.apk
*.aar
*.ap_
bin/
gen/

.idea/
.vscode/
*.swp
*.DS_Store
.project
.settings/
.classpath/
*.iml
.factorypath
.externalToolBuilders/

out/
dist/
*.log
*.tmp